.App {
  width: 100%;
  height: 100vh;
  background-color: grey;

  & * {
    margin: 0;
    padding: 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_h {
    flex-direction: row;
  }
}

#drum-machine {
  gap: 2rem 0;
  width: 40rem;
  height: 20rem;
  flex-wrap: wrap-reverse;
  text-align: center;
  background: grey;
  border: 0.2rem solid yellow;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;

  & > * {
    min-width: 15rem;
  }

  &__label {
    position: absolute;
    top: 0;
    right: 0;
    background-color: yellow;
    border-radius: 0 0 0 1rem;
    gap: 0.5rem;
    font-size: 1rem;
    padding: 0 0.7rem;
  }
}

#bank-selector {
  &__title {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  &__label {
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 0.4rem;
  }
  &__slider {
    background-color: green;
    height: 1rem;
    width: 3rem;
    border-radius: 1rem;
    border: 0.2rem solid blue;
    position: relative;

    &__knob {
      width: 2rem;
      height: 2rem;
      position: absolute;
      background-color: orange;
      border-radius: 2rem;
      top: -0.5rem;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;

      &.left {
        transform: translateX(-0.5rem);
      }
      &.right {
        transform: translateX(2.1rem);
      }
    }
  }
}

#display {
  height: 2rem;
  font-size: 1.3rem;
  background-color: royalblue;
  border-radius: 1rem;
  border: 0.2rem solid black;
}

#volumn-selector {
  height: 1rem;
  width: 12rem;
  border-radius: 2rem;
}

.drum-pad {
  width: 30%;
  height: 30%;
  text-align: center;
  background-color: grey;
  box-shadow: 0.1rem 0.1rem black;
  border-radius: 0.2rem;

  &__wrapper {
    flex-wrap: wrap;
    width: 20rem;
    background-color: blue;
    height: 15rem;
    gap: 2%;
    box-sizing: content-box;
    padding: 0.5rem 0.2rem;
    border-radius: 1rem;
  }
  //block text select
  & > p {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  &.playing {
    animation: pressed 0.05s;
  }

  @keyframes pressed {
    0% {
      background-color: initial;
      box-shadow: initial;
    }
    90% {
      background-color: yellow;
      box-shadow: 0.1rem 0.1rem gray;
    }
    100% {
      background-color: initial;
      box-shadow: initial;
    }
  }
}
